html {
  background: #f2f4f8;
}

.keycode {
  height: 70vh;
  width: 99vw;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  height: 130px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Montserrat', 'sans-serif';
  color: #424242;
}

.view {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', 'sans-serif';
  color: #424242;
}

.view:focus {
  outline: none
}

.events {
  display: flex;
  justify-content: space-between;
}

